<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlRspackPlugin.options.title %></title>
    <style>
      html,
      body,
      #app {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
