.x-qrcode-dialog {
  top: 16% !important;
  left: 50% !important;
  margin: 0 !important;
  padding: 0 !important;
  position: fixed !important;
  background: #fff !important;
  z-index: 2147483647 !important;
  border: 1px solid #ccc !important;
  box-shadow: 0 0 8px #ccc !important;
  transform: translate3d(-50%, 0, 0) !important;
}

.x-qrcode-dialog pre,
.x-qrcode-dialog img {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.x-qrcode-dialog pre {
  max-width: 560px;
  text-align: left;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 16px !important;
  font: normal 14px/1.5 "Microsoft YaHei", Arial, serif;
}
