@keyframes x-qrcode-zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes x-qrcode-zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes x-qrcode-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes x-qrcode-fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.x-qrcode-dialog {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  padding: 0 !important;
  border: none !important;
  bottom: auto !important;
  display: block !important;
  position: fixed !important;
  overflow: hidden !important;
  border-radius: 3px !important;
  width: fit-content !important;
  background: #fff !important;
  height: fit-content !important;
  z-index: 2147483647 !important;
  margin: 16vh auto auto !important;
  transform-origin: center !important;
  animation-duration: 0.2s !important;
  animation-fill-mode: both !important;
  animation-timing-function: linear !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

.x-qrcode-dialog-mask {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  display: block !important;
  position: fixed !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  z-index: 2147483646 !important;
  animation-duration: 0.2s !important;
  animation-fill-mode: both !important;
  background: rgba(0, 0, 0, 0.1) !important;
  animation-timing-function: linear !important;
}

.x-qrcode-dialog-open {
  animation-name: x-qrcode-zoomIn !important;
}

.x-qrcode-dialog-close {
  animation-name: x-qrcode-zoomOut !important;
}

.x-qrcode-dialog-mask-open {
  animation-name: x-qrcode-fadeIn !important;
}

.x-qrcode-dialog-mask-close {
  animation-name: x-qrcode-fadeOut !important;
}

.x-qrcode-dialog > pre,
.x-qrcode-dialog > img {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  display: block !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  width: fit-content !important;
  background: #fff !important;
  height: fit-content !important;
}

.x-qrcode-dialog > img {
  display: block !important;
  max-width: 370px !important;
  max-height: 370px !important;
}

.x-qrcode-dialog > pre {
  margin: 0 !important;
  color: #000 !important;
  display: block !important;
  overflow-y: auto !important;
  text-align: left !important;
  max-width: 960px !important;
  max-height: 560px !important;
  text-shadow: none !important;
  padding: 10px 16px !important;
  overflow-x: hidden !important;
  word-break: normal !important;
  white-space: pre-wrap !important;
  overflow-wrap: break-word !important;
  font: normal 14px/1.5 "Microsoft YaHei", Arial, serif !important;
}

.x-qrcode-dialog > pre.error {
  color: red !important;
}
