html,
body,
div {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  background-color: #fff;
  font: normal 12px/1.5 "Microsoft YaHei", Arial, serif;
}
.stage {
  font-size: 0;
  line-height: 0;
}
.loading {
  margin: 10px 17px;
}
.toast {
  color: #f00;
  display: none;
  padding: 6px 10px;
  white-space: nowrap;
}
